---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import ConfProgram from '../components/ConfProgram.jsx';
const pageTitle = "Программа конференции Проблемы теоретической и экспериментальной химии";
import presentationObjects from '../components/Prog2025.json';
import Schedule from '../components/Schedule2025.html';
---

<Layout title={pageTitle}>

  <Navbar entries={{
    'На главную' : Astro.url.origin,
    'Расписание' : '#timetable',
    'Доклады' : '#presentations'
  }} sticky={true} withDots={false}/>

	<main>
    <section id="info"><p><strong><a href="https://urfu.ru/fileadmin/user_upload/site_32133/IENiM/chem_ruten/2025/Sbornik_2025_v.0.1.pdf" target="_blank">Первая (предварительная) версия сборника тезисов</a></strong> (pdf, 13.4 Mb).</p><p>Программа и расписание конференции на этой странице автоматически сгенерированы из актуального <a href="docs/2025/Программа XXXV.docx">файла программы конференции</a>, поэтому информация в них абсолютно идентична. <a href="#presentations">Интерактивная часть</a> программы может не работать в совсем старых браузерах, но вы всегда сможете скачать файл. Настройки фильтра и отмеченные вами доклады сохранятся в вашем браузере, если вы не в режиме инкогнито. Желаем вам успешного участия в конференции!</p></section>
    <section id="timetable"><Schedule /></section>
    <section id="presentations">
      <h1>Доклады</h1>
      <ConfProgram client:load presentations={presentationObjects} />
    </section>
	</main>

</Layout>

<style is:global>
  #timetable h1 {
    margin-top: 0;
  }
  #timetable h1, 
  #presentations h2 {
    line-height: 1.1;
  }
  #timetable h1 + p {
    text-align: center;
  }
  #timetable em {
    color: var(--color-second);
    margin-right: 0.7rem;
    white-space: nowrap;
  }
  #timetable strong em,
  #timetable em strong {
    color: black;
    margin-right: 0;
  }
</style>
<style>
  h1 {
    margin-top: 0;
  }
  section {
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  #info {
    padding-bottom: 0;
  }
</style>