<h1>
 РАСПИСАНИЕ РАБОТЫ КОНФЕРЕНЦИИ
</h1>
<p>
 Место проведения конференции – Департамент фундаментальной и прикладной химии УрФУ (Екатеринбург, ул. Куйбышева, 48)
</p>
<p>
 <strong>
  22 апреля: регистрация участников, открытие конференции
 </strong>
</p>
<p>
 Аудитория
 <strong>
  700
 </strong>
</p>
<p>
 <em>
  13.30 – 15.00
 </em>
 Регистрация участников конференции
</p>
<p>
 <em>
  15.10 – 17.00
 </em>
 Торжественное открытие конференции
</p>
<p>
 <em>
  15.10 – 15.30
 </em>
 Вступительное слово.
 <strong>
  <em>
   Германенко А.В.
  </em>
 </strong>
 д.ф.-м.н., проректор по науке УрФУ;
 <strong>
  <em>
   Зимницкая С.А.
  </em>
 </strong>
 к.б.н., и. о. директора Института естественных наук и математики УрФУ;
 <strong>
  <em>
   Черепанов В.А.
  </em>
 </strong>
 д.х.н., председатель Оргкомитета конференции, зав. кафедрой физической и неорганической химии ИЕНиМ УрФУ
</p>
<p>
 <em>
  15.30 – 16.00
 </em>
 Николай Семёнович Курнаков – основатель физико-химического анализа.
 <strong>
  <em>
   к.х.н. Гусева А.Ф.
  </em>
 </strong>
 Уральский федеральный университет, Екатеринбург
</p>
<p>
 <em>
  16.00 – 16.30
 </em>
 Стойкие органические загрязнители: проблемы экологии, нейтрализации и переработки.
 <strong>
  <em>
   д.х.н.
  </em>
 </strong>
 <strong>
  <em>
   Куликова Т.В.
  </em>
 </strong>
 Институт металлургии УрО РАН, Екатеринбург
</p>
<p>
 <em>
  16.30 – 17.00
 </em>
 Получение нанопористых металлов и сплавов методами деаллоинга.
 <strong>
  <em>
   д.х.н. Ткачев Н.К.
  </em>
 </strong>
 Институт металлургии УрО РАН, Екатеринбург
</p>
<p>
 <strong>
  23 апреля: устные доклады
 </strong>
</p>
<p>
 Аудитории:
</p>
<ul>
 <li>
  Секция аналитической химии и химии окружающей среды:
  <strong>
   304
  </strong>
 </li>
 <li>
  Секция органической химии:
  <strong>
   472
  </strong>
 </li>
 <li>
  Секция физической химии веществ и материалов, Подсекция 1:
  <strong>
   430
  </strong>
 </li>
 <li>
  Секция физической химии веществ и материалов, Подсекция 2:
  <strong>
   609 (до 13.00), затем 402
  </strong>
 </li>
 <li>
  Секция физикохимии полимерных и коллоидных систем:
  <strong>
   204
  </strong>
 </li>
</ul>
<p>
 <em>
  10.00 – 13.00
 </em>
 Секционные заседания (устные доклады)
</p>
<p>
 <em>
  13.00 – 14.00
 </em>
 Перерыв на обед
</p>
<p>
 <em>
  14.00 – 17.00
 </em>
 Продолжение секционных заседаний (устные доклады)
</p>
<p>
 <strong>
  24 апреля: стендовые доклады
 </strong>
</p>
<p>
 <em>
  10.00 – 14.00
 </em>
 Экскурсионная программа по гор. Екатеринбургу
</p>
<p>
 <em>
  15.00 – 18.00
 </em>
 Стендовая секция
</p>
<p>
 <strong>
  25 апреля: закрытие конференции
 </strong>
</p>
<p>
 Аудитория
 <strong>
  700
 </strong>
</p>
<p>
 <em>
  15.00 – 17.00
 </em>
 Торжественное закрытие конференции
</p>
<p>
 Выступление научных руководителей секций
</p>
<p>
 Награждение участников конференции
</p>
